*{
    Margin: 0;
    Padding; 0;
    Box-sizing-border:0;
    }

    body {
        margin-left: 350px;
        background-color: rgb(29, 12, 126);
      }

      h1{
          color: ivory;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      p{
          color: ivory;
      }
